@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@100;300;400;900&family=Source+Code+Pro:wght@300;400;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Black', sans-serif;
}

html,
body {
  overflow-x: scroll;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #93bbb5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todolist {
  margin: 40px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.todo-header {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(40, 40, 40);
  font-size: 18px;
}

.todo-header a {
  margin: auto 1%;
}

.todo-header a i {
  color: black;
}

.todo-form {
  margin: 10px;
}

#form {
  padding: 10px;
  border-bottom: 1px solid rgb(31, 31, 31);
  display: flex;
  justify-content: space-between;
}

.new-task {
  outline: none;
  border: none;
  margin: auto 1%;
  font-size: 20px;
  font-style: italic;
  width: 100%;
}

.submit {
  outline: none;
  border: none;
  margin: auto 0.25%;
  cursor: pointer;
  font-size: 22px;
}

.to-dos li {
  list-style-type: none;
  height: 70px;
  padding: 10px 0 10px 20px;
  position: relative;
  border-bottom: 1px solid #000;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
}

.to-dos li input {
  margin: auto 0 auto 1%;
  cursor: pointer;
  font-size: 16px;
}

.to-dos li .todotask {
  outline: none;
  border: none;
  width: 80%;
}

.to-dos li .todotask:focus {
  outline: none;
}

.to-dos li i {
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.clear-all {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 70px;
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}
