* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  box-shadow: 2px 2px 50px #aaa;
  margin-top: 5em;
}

#today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em;
  width: 100%;
}

.fa-arrows-rotate,
#enter {
  margin-left: auto;
  color: #aaa;
}

.fa-arrows-rotate {
  align-self: center;
}

#enter {
  cursor: pointer;
  margin-right: -70px;
}

#task {
  border: none;
  padding: 1em 1em;
  width: 92%;
}

#task::placeholder {
  font-size: 16px;
  font-style: italic;
}

.checkbox {
  pointer-events: auto;
}

.task {
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
  align-items: center;
  width: 100%;
  gap: 1em;
}

path {
  pointer-events: none;
}

.dots-container {
  margin-left: auto;
  margin-right: 1rem;
}

#clear {
  width: 100%;
  height: 60px;
  border: none;
  cursor: pointer;
}

#clear:hover {
  text-decoration: underline;
}

.description {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.completed {
  text-decoration: line-through;
}

.fa-ellipsis-vertical:hover {
  cursor: all-scroll;
}

.fa-trash-can:hover {
  cursor: pointer;
}

.bg-yellow {
  background-color: lightyellow;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  background: none;
}

.dn {
  display: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.today,
.task,
li {
  border-bottom: 1px solid #aaa;
}

#task:focus {
  outline: none;
}
